* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#dog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/paw-background.jpeg");
  height: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#dog-favorites-container {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
  display: none;
  background-image: url("img/black-felt.png");
  background-color: pink;
  text-align: center;
}

.favorite-dog-image {
  border-radius: 25px;
  height: 200px;
  width: auto;
  padding: 20px;
}

#favorite-dog-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border-color: pink;
}

#paw-prints {
  height: 400px;
}

#dog__card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#dog-card-container {
  padding: 0, 50px, 0, 50px;
}

.dog-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 25px;
  height: 400px;
  width: auto;
}

#arrow {
  height: 100px;
}

#left-swipe {
  margin-right: 50px;
}

#right-swipe {
  margin-left: 50px;
}

#instructions {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: pink;
  font-size: 60px;
}

#page-background {
  background-image: url("img/paw-background.jpeg");
  height: 200px;
}

.footer {
  text-align: center;
  padding: 50px;
}